.card-stack :not(div) {
  @apply relative z-50
}

.card-stack:hover .rotate-3 {
  transform: rotate(5deg);
}

.card-stack:hover .rotate-6 {
  transform: rotate(10deg);
}

.open-slightly:hover {
  left: 0.75rem;
}

.translated-right {
  transition-duration: 500ms;
  transform: translateX(105%) rotate(0deg) !important;
}
