<!-- Title -->
<h1 class="lg:text-5xl text-3xl font-extrabold text-off-black mb-3" i18n>
  Expériences<br>
  <span class="text-gradient gradient-orange">Associatives</span>
</h1>

<div class="w-full flex flex-row flex-wrap justify-around">
  <!-- FAP -->
  <app-association-stack class="z-50">
    <app-card-openner>
      <app-association-card
        logoUrl="assets/images/fapLogo.png"
        role="Formateur"
        dates="Octobre 2018 - Mars 2019"
        description="FAP Efrei<br><br>Dispenser des cours d’informatique aux séniors de la ville."
        i18n-role i18n-dates i18n-description>
      </app-association-card>
    </app-card-openner>
    <app-card-openner>
      <app-association-card
        logoUrl="assets/images/fapLogo.png"
        role="Responsable <br>des évènements"
        dates="Mars 2019 - Mars 2020"
        description="FAP Efrei<br><br>Organiser des evènements au sein de l’école ou lors de salons pour recruter des bénévoles et faire connaître l’association."
        i18n-role i18n-dates i18n-description>
      </app-association-card>
    </app-card-openner>
    <app-card-openner>
      <app-association-card
        logoUrl="assets/images/fapLogo.png"
        role="Trésorier <br>Vice-président"
        dates="Mars 2020 - Mars 2021"
        description="FAP Efrei - Association de formation en informatique aux séniors, enfants, personnes en situation de handicap, et personnes en réinsertion professionnelle.<br><br>Gérer les fonds de l'association et son financement.<br><br>Plannifier le futur de l’association. Gestion quotidienne."
        i18n-role i18n-dates i18n-description>
      </app-association-card>
    </app-card-openner>
  </app-association-stack>

  <!-- Taverne du troll -->
  <app-association-stack class="z-40">
    <app-card-openner>
      <app-association-card
        logoUrl="assets/images/taverneLogo.png"
        role="Membre"
        dates="Septembre 2019 - Septembre 2023"
        description="Taverne du Troll<br><br>Participation à l’oganisation des divers évènements et tournois.<br><br>Animation de séances de jeu de société hebdomadaires."
        i18n-role i18n-dates i18n-description>
      </app-association-card>
    </app-card-openner>
    <app-card-openner>
      <app-association-card
        logoUrl="assets/images/taverneLogo.png"
        role="Secrétaire"
        dates="Octobre 2022 - Mars 2023"
        description="Taverne du Troll - Association de jeux sur table et de jeux de société.<br><br>Réalisation et validation de diverses tâches administratives pour l'association.<br><br>Planification, organisation et gestion de nombreux événements réunissant plusieurs dizaines de personnes."
        i18n-role i18n-dates i18n-description>
      </app-association-card>
    </app-card-openner>
  </app-association-stack>

  <!-- Asian -->
  <app-association-card class="z-30"
    logoUrl="assets/images/asianLogo.svg"
    role="Responsable <br>Technique"
    dates="Mars 2021 - Mars 2023"
    description="Asian’Efrei - Association de culture asiatique.<br><br>Développer le site internet de l’association.<br><br>Gérer l'infrastructure technique d’Asian’Efrei."
    i18n-role i18n-dates i18n-description>
  </app-association-card>
</div>
