<div class="relative w-full p-10 bg-off-black rounded-xl">
  <fa-icon [icon]="codeIcon" class="absolute lg:top-4 top-12 right-4 text-off-white lg:text-8xl text-6xl"></fa-icon>

  <h1 class="lg:text-5xl text-3xl font-extrabold text-gradient gradient-blue mb-3 mr-20" i18n>Mes projets principaux</h1>

  <!-- ULL -->
  <div class="w-full flex sm:flex-row flex-col sm:flex-nowrap flex-wrap items-center text-off-white font-mono md:text-justify my-10">
    <img src="assets/images/ULL-icon-no-bg.png" alt="ULL Logo" class="md:h-48 h-24 md:w-48 aspect-square object-cover">
    <div class="max-w-prose grow md:mx-10 mx-2 md:mt-0 mt-2">
      <h1 class="font-extrabold md:text-5xl text-2xl">ULL</h1>
      <p class="md:text-3xl text-xl text-blue mt-2">2022</p>
      <p class="md:text-base text-sm" i18n>ULL est une plateforme visant à ubériser le monde de l’évènementiel. Réalisé comme projet de fin d’année de M1, ULL permet à des particuliers de rechercher et réserver facilement des prestations pour des évènements de toute taille (anniversaire, mariage...). Notre équipe aux compétences pointues dans de nombreux domaines adjascents était parfaitement adaptée pour répondre aux défis de ce projet ambitieux.</p>
    </div>
    <div class="grow flex flex-row justify-end hidden sm:block">
      <fa-icon [icon]="chevronRight" class="text-6xl"></fa-icon>
    </div>
  </div>

  <hr class="border-2 rounded-full">

  <!-- Medchain -->
  <div class="w-full flex sm:flex-row flex-col sm:flex-nowrap flex-wrap items-center text-off-white font-mono md:text-justify my-10">
    <img src="assets/images/Medchain-no-bg.png" alt="Medchain Logo" class="md:h-48 h-24 md:w-48 w-24 aspect-square object-cover">
    <div class="max-w-prose grow md:mx-10 mx-2 md:mt-0 mt-2">
      <h1 class="font-extrabold md:text-5xl text-2xl">Medchain</h1>
      <p class="md:text-3xl text-xl text-blue mt-2">2021</p>
      <p class="md:text-base text-sm" i18n>Sélectionné comme meilleur projet de notre fillière, Medchain a été réalisé en un mois durant un bootcamp de notre école dédié à la gestion de projet. Le but de Medchain est d’offrir un écosystème aux médecins, pharmaciens et patients permettant de dématérialiser les ordonnances tout en assurant la sécurité et la confidentialité des données et en éliminant tout abus d’ordonnance possible.</p>
    </div>
    <div class="grow flex flex-row justify-end hidden sm:block">
      <fa-icon [icon]="chevronRight" class="text-6xl"></fa-icon>
    </div>
  </div>

  <hr class="border-2 rounded-full">

  <!-- Asian'Efrei -->
  <div class="w-full flex sm:flex-row flex-col sm:flex-nowrap flex-wrap items-center text-off-white font-mono md:text-justify my-10">
    <img src="assets/images/asianLogo.svg" alt="Asian'Efrei Logo" class="md:h-48 h-24 md:w-48 aspect-square object-cover">
    <div class="max-w-prose grow md:mx-10 mx-2 md:mt-0 mt-2">
      <a class="font-extrabold md:text-5xl text-2xl underline underline-offset-8" href="https://asianefrei.org/" target="_blank">Asianefrei.org</a>
      <p class="md:text-3xl text-xl text-blue mt-2">2021</p>
      <p class="md:text-base text-sm" i18n>Le site d’Asian’Efrei avait bien besoin d’un coup de jeune. Originellement un mix de plug-in Wordpress à peine fonctionnel, le site est désormais moderne et stable. Avec l’équipe d’Asian’Efrei, nous avons établi l’ensemble des fonctionnalités désirées pour le site, et nous sommes mis d’accord sur le design des éléments. Le site inclut désormais davantage d’informations, du Server Side Rending pour optimiser le SEO, ainsi qu’un système complet de CMS pour ajouter facilement des articles ou albums.</p>
    </div>
    <div class="grow flex flex-row justify-end hidden sm:block">
      <fa-icon [icon]="chevronRight" class="text-6xl"></fa-icon>
    </div>
  </div>

  <hr class="border-2 rounded-full">

  <!-- Virtue -->
  <div class="w-full flex sm:flex-row flex-col sm:flex-nowrap flex-wrap items-center text-off-white font-mono md:text-justify my-10">
    <img src="assets/images/Virtue.png" alt="Virtue Logo" class="md:h-48 h-24 md:w-48 aspect-square object-cover">
    <div class="max-w-prose grow md:mx-10 mx-2 md:mt-0 mt-2">
      <h1 class="font-extrabold md:text-5xl text-2xl">Virtue</h1>
      <p class="md:text-3xl text-xl text-blue mt-2">2020</p>
      <p class="md:text-base text-sm" i18n>Virtue est un réseau social visant à encourager les comportements positifs, bénéfiques et civils. L’idée est de permettre aux utilisateurs de commenter sur le profil des autres les bonnes actions qu’ils les ont vu réaliser et de laisser un certain nombre d’étoiles dans cet avis. Le site utilise alors différents paramètres pour estimer l’impact positif des membres à partir des avis des personnes qu’ils ont côtoyées.</p>
    </div>
    <div class="grow flex flex-row justify-end hidden sm:block">
      <fa-icon [icon]="chevronRight" class="text-6xl"></fa-icon>
    </div>
  </div>
</div>
