<!-- Page header -->
<div class="w-full p-5 bg-off-black">
  <div class="w-full flex flex-row justify-between items-center">
    <div class="grow h-1.5 rounded-full bg-gradient-to-r from-red to-orange"></div>
    <h1 class="mx-5 text-off-white lg:text-7xl md:text-5xl sm:text-3xl text-xl font-extrabold" i18n>Mes compétences</h1>
    <div class="grow h-1.5 rounded-full bg-gradient-to-r from-orange to-red"></div>
  </div>
  <p class="w-full sm:pl-10 mt-5 md:text-xl sm:text-base text-sm text-off-white" i18n>
    Au cours de mes projets, stages, et expériences diverses j’ai pu acquérir un ensemble de compétences variées.<br>
    Voici donc une liste des langages, technologies et autre que je sais manier; organisée selon mon niveau de maîtrise pour chacun d’eux.
  </p>
</div>

<!-- Main content -->
<div class="sm:w-4/5 w-full mx-auto sm:px-0 px-5 flex flex-col justify-start my-10">
  <!-- Programming languages -->
  <h1 class="big-title text-gradient gradient-orange" i18n>Langages, frameworks et librairies</h1>
  <!-- Main languages -->
  <h2 class="small-title text-gradient gradient-blue" i18n>Je maîtrise</h2>
  <div>
    <div class="flex flex-row flex-wrap justify-around items-center -mx-3">
      <app-logo-card [pictureUrl]="'assets/images/programming-logos/HTML5.svg'" [text]="'HTML 5'"></app-logo-card>
      <app-logo-card [pictureUrl]="'assets/images/programming-logos/JavaScript.svg'" [text]="'JavaScript'"></app-logo-card>
      <app-logo-card [pictureUrl]="'assets/images/programming-logos/TypeScript.png'" [text]="'TypeScript'"></app-logo-card>
      <app-logo-card [pictureUrl]="'assets/images/programming-logos/Angular.svg'" [text]="'Angular'"></app-logo-card>
      <app-logo-card [pictureUrl]="'assets/images/programming-logos/CSS.svg'" [text]="'CSS'"></app-logo-card>
      <app-logo-card [pictureUrl]="'assets/images/programming-logos/Bootstrap.svg'" [text]="'Bootstrap'"></app-logo-card>
      <app-logo-card [pictureUrl]="'assets/images/programming-logos/Tailwind.jpg'" [text]="'Tailwind CSS'"></app-logo-card>
      <app-logo-card [pictureUrl]="'assets/images/programming-logos/Expressjs.png'" [text]="'express'"></app-logo-card>
    </div>
    <p class="mt-3 paragraph-text" i18n>
      Le développement web étant mon domaine de compétence principal, je maîtrise bien les langages et frameworks qui y sont employés. J’ai pu réaliser de nombreux projets en utilisant ces technologies, aussi bien côté frontend que backend.
    </p>
  </div>
  <div class="flex flex-row lg:flex-nowrap flex-wrap justify-around items-center -mx-3 mt-3">
    <app-logo-card [pictureUrl]="'assets/images/programming-logos/Java.svg'" [text]="'Java'"></app-logo-card>
    <app-logo-card [pictureUrl]="'assets/images/programming-logos/Spring.png'" [text]="'Spring Boot'"></app-logo-card>
    <div class="grow">
      <p class="mx-3 paragraph-text break-normal lg:mt-0 mt-3" i18n>
        J'ai également pu utiliser Java et Spring Boot pour développer des applications fiables et extensibles dans un ensemble de contextes.</p>
    </div>
  </div>
  <div class="flex flex-row lg:flex-nowrap flex-wrap justify-around items-center -mx-3 mt-3">
    <app-logo-card [pictureUrl]="'assets/images/programming-logos/SQL.jpg'" [text]="'SQL'"></app-logo-card>
    <app-logo-card [pictureUrl]="'assets/images/programming-logos/PL-SQL.png'" [text]="'PL/SQL'"></app-logo-card>
    <div class="grow">
      <p class="mx-3 paragraph-text break-normal lg:mt-0 mt-3" i18n>
        Le langage SQL étant le standard de la manipulation de données, il était indispensable pour moi de le maîtriser. J’ai également eu l’occasion de réaliser des bases de données plus intelligente en utilisant le PL/SQL pour mieux automatiser la gestion de la base de données.
      </p>
    </div>
  </div>
  <div class="flex flex-row lg:flex-nowrap flex-wrap justify-around items-center -mx-3 mt-3">
    <app-logo-card [pictureUrl]="'assets/images/programming-logos/C++.svg'" [text]="'C++'"></app-logo-card>
    <app-logo-card [pictureUrl]="'assets/images/programming-logos/QT.svg'" [text]="'QT'"></app-logo-card>
    <app-logo-card [pictureUrl]="'assets/images/programming-logos/OpenCV.png'" [text]="'Open CV'"></app-logo-card>
    <div class="grow">
      <p class="mx-3 paragraph-text break-normal lg:mt-0 mt-3" i18n>
        Enfin, j’ai beaucoup d’expérience avec le C++ et QT grâce au stage que j’ai effectué en Italie au sein de General Medical Merate. Je place la librairie OpenCV dans cette catégorie car c’est en  C++ que je l’ai utilisée.
      </p>
    </div>
  </div>

  <!-- Secondary languages -->
  <h2 class="small-title text-gradient gradient-blue mt-20" i18n>J'ai de l'expérience</h2>
  <div>
    <div class="flex flex-row flex-wrap justify-around items-center -mx-3">
      <app-logo-card [pictureUrl]="'assets/images/programming-logos/Vue.svg'" [text]="'Vue.js'"></app-logo-card>
      <app-logo-card [pictureUrl]="'assets/images/programming-logos/Jest.png'" [text]="'Jest'"></app-logo-card>
      <app-logo-card [pictureUrl]="'assets/images/programming-logos/Jasmine.svg'" [text]="'Jasmine'"></app-logo-card>
      <app-logo-card [pictureUrl]="'assets/images/programming-logos/Istanbul.png'" [text]="'Istanbul'"></app-logo-card>
      <app-logo-card [pictureUrl]="'assets/images/programming-logos/Karma.png'" [text]="'Karma'"></app-logo-card>
      <app-logo-card [pictureUrl]="'assets/images/programming-logos/Python.svg'" [text]="'Python'"></app-logo-card>
      <app-logo-card [pictureUrl]="'assets/images/programming-logos/Matlab.png'" [text]="'Matlab'"></app-logo-card>
      <app-logo-card [pictureUrl]="'assets/images/programming-logos/C.svg'" [text]="'C'"></app-logo-card>
    </div>
    <p class="mt-3 paragraph-text" i18n>
      J’ai pu me constituer une certaine expérience avec les langages et librairies de cette section au travers de mes études et de petits projets. Je n’ai toutefois pas encore eu l’occasion de les utiliser dans des projets de plus grande envergure.
    </p>
  </div>
  <div class="grid xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-10 -mx-3">
    <app-logo-card [pictureUrl]="'assets/images/programming-logos/Bash.svg'" [text]="'Bash'" [fixedSize]="false">
      <p class="mb-auto" i18n>Utilisant un OS basé sur UNIX au quotidien, et WSL couramment sous Windows, j’ai souvent l’occasion de manipuler la ligne de commande et notamment les terminaux Bash et Zsh. J’ai pu réaliser de nombreux scripts pour faciliter certaines tâches.</p>
    </app-logo-card>
    <app-logo-card [pictureUrl]="'assets/images/programming-logos/Latex.svg'" [text]="'LaTeX'" [fixedSize]="false">
      <p class="mb-auto" i18n>Mon cursus d’ingénieur a laissé la part belle aux mathématiques et à la physique, notamment durant les années de classe préparatoire. De fait, je me suis souvent servi de LaTeX pour rédiger mes rapports.</p>
    </app-logo-card>
    <app-logo-card [pictureUrl]="'assets/images/programming-logos/Markdown.svg'" [text]="'Markdown'" [fixedSize]="false">
      <p class="mb-auto" i18n>J’utilise Markdown au quotidien pour la prise de note sur ordinateur. Je trouve ce système de formatage simple et intuitif.</p>
    </app-logo-card>
    <app-logo-card [pictureUrl]="'assets/images/programming-logos/UML.png'" [text]="'UML'" [fixedSize]="false">
      <p class="mb-auto" i18n>La réalisation de diagrammes UML est une étape importante de la conception de mes projets, et j’utilise souvent cette représentation graphique pour modéliser clairement des systèmes complexes.</p>
    </app-logo-card>
  </div>

  <!-- Languages I used a bit -->
  <h2 class="small-title text-gradient gradient-blue mt-20" i18n>Je les ai utilisés</h2>
  <div>
    <div class="flex flex-row flex-wrap justify-around items-center -mx-3">
      <app-logo-card [pictureUrl]="'assets/images/programming-logos/Dart.png'" [text]="'Dart'"></app-logo-card>
      <app-logo-card [pictureUrl]="'assets/images/programming-logos/Flutter.png'" [text]="'Flutter'"></app-logo-card>
      <app-logo-card [pictureUrl]="'assets/images/programming-logos/Ocaml.png'" [text]="'OCaml'"></app-logo-card>
      <app-logo-card [pictureUrl]="'assets/images/programming-logos/CSharp.svg'" [text]="'C#'"></app-logo-card>
    </div>
    <p class="mt-3 paragraph-text" i18n>
      J’ai déjà manipulé ces langages par le passé. Bien que je serais capable de rapidement me former, je ne les considère pas comme des langages où je suis très expérimenté.
    </p>
  </div>


  <!-- Technologies and software -->
  <h1 class="big-title text-gradient gradient-orange mt-20" i18n>Technologies et logiciels</h1>
  <!-- Main technos -->
  <h2 class="small-title text-gradient gradient-blue" i18n>Je maîtrise</h2>
  <div>
    <div class="flex flex-row flex-wrap justify-around items-center -mx-3">
      <app-logo-card [pictureUrl]="'assets/images/software-logos/ubuntu.svg'" [text]="'Ubuntu'"></app-logo-card>
      <app-logo-card [pictureUrl]="'assets/images/software-logos/debian.svg'" [text]="'Debian'"></app-logo-card>
      <app-logo-card [pictureUrl]="'assets/images/software-logos/macOS.svg'" [text]="'macOS'"></app-logo-card>
      <app-logo-card [pictureUrl]="'assets/images/software-logos/windows.svg'" [text]="'Windows'"></app-logo-card>
    </div>
    <p class="mt-3 paragraph-text" i18n>
      Je me sers des trois principaux systèmes d'exploitation régulièrement. Au quotidien, j'utilise une machine macOS. Pour jouer, un PC Windows. Et pour faire fonctionner mon serveur, une distribution Linux. Ainsi, je suis capable de passer rapidement et facilement de l'un à l'autre, et suis à l'aise à la fois dans un environnement graphique ou en ligne de commande.
    </p>
  </div>
  <div class="flex flex-row lg:flex-nowrap flex-wrap justify-around items-center -mx-3 mt-3">
    <app-logo-card [pictureUrl]="'assets/images/software-logos/mysql.svg'" [text]="'MySQL'"></app-logo-card>
    <app-logo-card [pictureUrl]="'assets/images/software-logos/postgresql.svg'" [text]="'PostgreSQL'"></app-logo-card>
    <div class="grow">
      <p class="mx-3 paragraph-text break-normal lg:mt-0 mt-3" i18n>
        Pour mes projets nécessitant du stockage structuré à long terme, j'ai pu utiliser aussi bien MySQL que PostgreSQL. Ainsi, je peux m'adapter à différentes technologies de SGBDR. J'ai également expérimenté avec des bases de données NoSQL, mais ne m'en suis pas encore servir dans un projet conséquent.
      </p>
    </div>
  </div>
  <div class="flex flex-row lg:flex-nowrap flex-wrap justify-around items-center -mx-3 mt-3">
    <app-logo-card [pictureUrl]="'assets/images/software-logos/jetbrains.svg'" [text]="'IDE Jetbrains'"></app-logo-card>
    <app-logo-card [pictureUrl]="'assets/images/software-logos/vscode.svg'" [text]="'VS Code'"></app-logo-card>
    <div class="grow">
      <p class="mx-3 paragraph-text break-normal lg:mt-0 mt-3" i18n>
        À titre personnel, j'utilise les IDE de la suite Jetbrains (IntelliJ, Webstorm, etc) pour la grande majorité de mes projets, car je préfère un logiciel tout-en-un. Visual Studio Code a toutefois une place importante dans ma façon de travailler, lorsque je planche sur des tâches plus "légères" telles qu'un script Bash, l'édition de fichiers JSON/YML, et ainsi de suite. Je sais également me servir d'IDE plus spécifiques en fonction des stacks tels que QT Creator.
      </p>
    </div>
  </div>
  <div class="flex flex-row lg:flex-nowrap flex-wrap justify-around items-center -mx-3 mt-3">
    <app-logo-card [pictureUrl]="'assets/images/software-logos/git.png'" [text]="'git'"></app-logo-card>
    <app-logo-card [pictureUrl]="'assets/images/software-logos/github.png'" [text]="'GitHub'"></app-logo-card>
    <div class="grow">
      <p class="mx-3 paragraph-text break-normal lg:mt-0 mt-3" i18n>
        J'utilise git sur tous mes projets, c'est un outil indispensable à mon sens. Je me sers également de GitHub pour héberger mon code sur tous ces projets.
      </p>
    </div>
  </div>
  <div class="grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-10">
    <app-logo-card [pictureUrl]="'assets/images/software-logos/nodejs.svg'" [text]="'Node.js'" [fixedSize]="false">
      <p class="mb-auto" i18n>J'ai pu manipuler Node.js sur de nombreux projets, qu'il s'agisse de réaliser des applications backend ou juste faire tourner des scripts JavaScript.</p>
    </app-logo-card>
    <app-logo-card [pictureUrl]="'assets/images/software-logos/figma.svg'" [text]="'Figma'" [fixedSize]="false">
      <p class="mb-auto" i18n>J'ai découvert Figma en cherchant comment réaliser les maquettes de mes différents projets, et je m'en sers depuis dès que j'ai besoin de créer un design. N'étant pas UI/UX designer de formation, je ne peux qu'apprécier la simplicité et la versatilité de cet outil.</p>
    </app-logo-card>
    <app-logo-card [pictureUrl]="'assets/images/software-logos/office.svg'" [text]="'Microsoft Office'" [fixedSize]="false">
      <p class="mb-auto" i18n>Que ce soit pour rédiger des rapports de projets, des tableaux complexes ou préparer des présentations, je me sers de la suite Office depuis des années. J'utilise également les outils équivalents de Google Workspace dont je trouve les fonctionnalités de collaboration plus poussées. Mention également à Obsidian que j'utilise pour prendre des notes en Markdown, et Notability dont je me sers pour écrire sur iPad.</p>
    </app-logo-card>
  </div>

  <!-- Secondary technos -->
  <h2 class="small-title text-gradient gradient-blue mt-20" i18n>J'ai de l'expérience</h2>
  <div>
    <div class="flex flex-row flex-wrap justify-around items-center -mx-3">
      <app-logo-card [pictureUrl]="'assets/images/software-logos/vagrant.png'" [text]="'Vagrant'"></app-logo-card>
      <app-logo-card [pictureUrl]="'assets/images/software-logos/docker.png'" [text]="'Docker'"></app-logo-card>
      <app-logo-card [pictureUrl]="'assets/images/software-logos/docker-compose.png'" [text]="'Docker compose'"></app-logo-card>
      <app-logo-card [pictureUrl]="'assets/images/software-logos/githubCI.png'" [text]="'GitHub CI'"></app-logo-card>
    </div>
    <p class="mt-3 paragraph-text" i18n>
      Cherchant à expérimenter avec le processus DevOps, j'ai pu apprendre ces technologies afin d'aisément conteneuriser et déployer des applications. Ce site, notamment, est déployé grâce à Docker et Docker compose.
    </p>
  </div>
  <div class="grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-10 mt-10">
    <app-logo-card [pictureUrl]="'assets/images/software-logos/electron.svg'" [text]="'Electron'" [fixedSize]="false">
      <p class="mb-auto" i18n>J'ai pu expérimenter avec Electron lors du projet Medchain. Cette technologie nous a permis très facilement de transposer notre savoir-faire dans le navigateur à une application de bureau.</p>
    </app-logo-card>
    <app-logo-card [pictureUrl]="'assets/images/software-logos/nginx.svg'" [text]="'Nginx'" [fixedSize]="false">
      <p class="mb-auto" i18n>Nginx m'a été très utile pour configurer facilement les serveurs de différents projets. Bien que je ne sois pas un expert réseau, j'ai tout de même pu déployer des applications sans trop de difficultés.</p>
    </app-logo-card>
    <app-logo-card [pictureUrl]="'assets/images/software-logos/oracle.png'" [text]="'Oracle Database'" [fixedSize]="false">
      <p class="mb-auto" i18n>Je me suis servi d'Oracle Database dans mes études, notamment lors de cours de gestion de base de données avec l'utilisation de PL/SQL. Bien qu'il s'agisse d'un logiciel complexe, j'ai pu en saisir la pertinence sur des systèmes à l'échelle d'entreprises.</p>
    </app-logo-card>
  </div>

  <!-- Technos I used a bit -->
  <h2 class="small-title text-gradient gradient-blue mt-20" i18n>Je les ai utilisés</h2>
  <div class="grid lg:w-3/4 mx-auto xl:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-10">
    <app-logo-card [pictureUrl]="'assets/images/software-logos/firebase.png'" [text]="'Firebase'" [fixedSize]="false">
      <p class="mb-auto" i18n>Durant un projet de Cloud, nous avons utilisé Firebase et Firestore afin de découvrir l'utilisation d'un stack FaaS.</p>
    </app-logo-card>
    <app-logo-card [pictureUrl]="'assets/images/software-logos/activemq.png'" [text]="'ActiveMQ'" [fixedSize]="false">
      <p class="mb-auto" i18n>J'ai pu utiliser ActiveMQ sur un projet académique afin de synchroniser et faire communiquer plusieurs applications.</p>
    </app-logo-card>
    <app-logo-card [pictureUrl]="'assets/images/software-logos/davinci-resolve.svg'" [text]="'DaVinci Resolve'" [fixedSize]="false">
      <p class="mb-auto" i18n>DaVinci Resolve est un logiciel de montage vidéo. Je m'en suis servi pour réaliser plusieurs vidéos, à la fois pour présenter des projets mais également pour mener des interviews.</p>
    </app-logo-card>
  </div>


  <!-- Other skills -->
  <h1 class="big-title text-gradient gradient-orange mt-20" i18n>Autre</h1>
  <!-- Languages -->
  <h2 class="small-title text-gradient gradient-blue" i18n>Langues</h2>
  <div>
    <div class="grid lg:w-3/4 mx-auto xl:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-10">
      <app-logo-card [pictureUrl]="'assets/images/countries/france.svg'" [fixedSize]="false">
        <p class="font-mono text-center mb-auto" i18n>Français<br><br>Langue maternelle</p>
      </app-logo-card>
      <app-logo-card [pictureUrl]="'assets/images/countries/england.svg'" [fixedSize]="false">
        <p class="font-mono text-center mb-auto" i18n>Anglais<br><br>TOEIC : 990/990<br><a href="https://www.etsglobal.org/fr/en/digital-score-report/AE6BE3B7E8F6A3B717353E38F468D0AD572D2CE00ADDE547AC75A0099814439FSk03aEdoWTBXQ09ZYlpZWVhhQUxKVXY3N1VldmhxaG1UVFJDYkRzeWhCR2tvQ0Fs" target="_blank" class="underline text-blue">Certificat</a></p>
      </app-logo-card>
      <app-logo-card [pictureUrl]="'assets/images/countries/spain.svg'" [fixedSize]="false">
        <p class="font-mono text-center mb-auto" i18n>Espagnol<br><br>A2</p>
      </app-logo-card>
      <app-logo-card [pictureUrl]="'assets/images/countries/italy.svg'" [fixedSize]="false">
        <p class="font-mono text-center mb-auto" i18n>Italien<br><br>A1</p>
      </app-logo-card>
    </div>
    <p class="mt-10 paragraph-text" i18n>
      Que ce soit durant mes études, mes loisirs, ou grâce à des voyages, j’ai pu apprendre plusieurs langues en plus du français. L’anglais est de loin la langue étrangère que je parle le mieux, mais j’ai également des notions d’espagnol et d’italien.
    </p>
  </div>
  <!-- Certificates -->
  <h2 class="small-title text-gradient gradient-blue mt-10" i18n>Certifications</h2>
  <ul class="list-disc list-inside ml-10 font-mono paragraph-text mt-5">
    <li i18n>Permis B</li>
  </ul>
</div>
