<div class="flex flex-col justify-center items-center bg-off-white">
  <!-- Heading with profile -->
  <app-hero-header class="w-full"></app-hero-header>

  <!-- Curved separation -->
  <!-- SVG made with https://getwaves.io/ and edited afterwards -->
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 50"><rect id="backgroundrect" width="100%" height="100%" x="0" y="0" fill="none" stroke="none"/><g class="currentLayer" style=""><title>Layer 1</title><path fill="#2B2D2C" fill-opacity="1" d="M0,21.238098621368408 L120,28.31746482849121 C240,35.396831035614014 480,49.55556344985962 720,49.55556344985962 C960,49.55556344985962 1200,35.396831035614014 1320,28.31746482849121 L1440,21.238098621368408 L1440,0 L1320,0 C1200,0 960,0 720,0 C480,0 240,0 120,0 L0,0 z" id="svg_1" class=""/></g></svg>

  <!-- Introduction / call to action message -->
  <div class="lg:w-3/5 w-full lg:px-0 px-5 my-10">
    <h1 class="lg:text-5xl text-3xl font-extrabold text-gradient from-red to-orange" i18n>Hé ! Vous !</h1>
    <p class="lg:text-xl text-lg mt-5" i18n>
      J’adore programmer, découvrir de nouvelles choses et lieux, et réaliser des trucs épatants.<br>
      Je recherche un stage d’avril à octobre 2023 dans la métropole de Montpellier.<br>
      N’hésitez pas à regarder ce que j’ai fait par le passé, et à me contacter si mon profil vous intéresse !
    </p>
  </div>

  <!-- Studies -->
  <app-studies-timeline class="lg:w-4/5 w-full lg:px-0 px-5 mb-10"></app-studies-timeline>

  <!-- Experience -->
  <app-professional-experience-list class="lg:w-4/5 w-full lg:px-0 px-5 mb-10"></app-professional-experience-list>

  <!-- Student clubs -->
  <app-associative-experience-list class="lg:w-4/5 w-full lg:px-0 px-5 mb-10"></app-associative-experience-list>

  <!-- Featured projects -->
  <app-featured-projects class="lg:w-4/5 w-full lg:px-0 px-5 mb-10"></app-featured-projects>
</div>
