<!--  Use a wrapper so that the page is always at least as high as the screen, and
      position the content inside another wrapper that leave a bit of space for
      the footer bellow it
      Source : https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/
-->
<div class="relative min-h-screen">
  <div class="md:pb-16 pb-44">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
  </div>

  <!-- Use Tailwind md: pseudo-element selector to have a tall footer on small screens and a wide footer on big screens -->
  <app-footer class="w-full md:h-16 h-44 absolute bottom-0"></app-footer>
</div>
