<!-- Page header -->
<div class="w-full p-5 bg-off-black">
  <div class="w-full flex flex-row justify-between items-center">
    <div class="grow h-1.5 rounded-full bg-gradient-to-r from-red to-orange"></div>
    <h1 class="mx-5 text-off-white lg:text-7xl md:text-5xl sm:text-3xl text-xl font-extrabold" i18n>Mes projets</h1>
    <div class="grow h-1.5 rounded-full bg-gradient-to-r from-orange to-red"></div>
  </div>
  <p class="w-full sm:pl-10 mt-5 md:text-lg sm:text-base text-sm text-off-white" i18n>
    Durant mes études, j’ai réalisé divers projets, aussi bien pour obtenir mon diplôme que pour mes passes temps ou pour me constituer une expérience.<br>
    Voici une liste non exhaustive de mes projets. Certains ont une galerie qui leur est associée, cela vous permet d'avoir une meilleure idée de ce à quoi ils ressemblent.
  </p>
</div>

<!-- Main content -->
<div class="xl:w-3/4 lg:w-4/5 sm:w-1/2 w-full mx-auto sm:px-0 px-5 my-10 grid lg:grid-cols-2 grid-cols-1 gap-x-20 gap-y-7">
  <app-project-card iconLink="assets/images/projects/icons/GreenRockInvestmentSimulator.png"
                    projectTitle="Green Rock Investment Simulator"
                    description="Ce serious game destiné à des étudiants d'école de commerce reprend les principaux mécanismes des marchés financiers afin de permettre l'apprentissage de leur fonctionnement sans risque pour le patrimoine des participants."
                    date="2023"
                    i18n-projectTitle i18n-description
  ></app-project-card>

  <app-project-card iconLink="assets/favicon.png"
                    projectTitle="Site web portfolio"
                    description="Recherchant à obtenir une présence en ligne plus poussée qu’un simple profil LinkedIn, j’ai réalisé ce site afin d’avoir un répertoire central de mes expériences."
                    date="2022"
                    i18n-projectTitle i18n-description
  ></app-project-card>

  <app-project-card iconLink="assets/images/projects/icons/dnd.png"
                    projectTitle="DnD Initiative Tracker"
                    description="Assumant le rôle de maitre du jeu dans une partie de Donjons et Dragons avec des amis, je souhaitais me simplifier la gestion de l’ordre des tours.<br>J’ai donc développé cette application pour suivre automatiquement la progression des combats en jeu."
                    date="2022"
                    galleryLink="/galerie/dnd-tracker"
                    i18n-projectTitle i18n-description
  ></app-project-card>

  <app-project-card iconLink="assets/images/projects/icons/ULL-icon-no-bg.png"
                    projectTitle="ULL"
                    description="ULL est une plateforme visant à ubériser le monde de l’évènementiel. Elle permet à des particuliers de rechercher et réserver facilement des prestations pour des évènements de toute taille (anniversaire, mariage...)."
                    date="2022"
                    galleryLink="/galerie/ull"
                    i18n-projectTitle i18n-description
  ></app-project-card>

  <app-project-card iconLink="assets/images/software-logos/firebase.png"
                    projectTitle="Initiation à Firebase"
                    description="Ce petit projet réalisé en cours de Cloud se présente comme un clone modeste de la plateforme de blogging Medium. Il m’a permi d’apprendre et de m’entraîner à l’approche FaaS du cloud."
                    date="2022"
                    i18n-projectTitle i18n-description
  ></app-project-card>

  <app-project-card iconLink="assets/images/asianLogo.svg"
                    projectTitle="Asianefrei.org"
                    description="L’association Asian’Efrei cherchait à réaliser une refonte de son site web. En tant que membre et souhaitant gagner un peu plus d’expérience, j’ai accepté cette tâche."
                    date="2021"
                    galleryLink="/galerie/asianefrei"
                    i18n-projectTitle i18n-description
  ></app-project-card>

  <app-project-card iconLink="assets/images/projects/icons/Medchain-no-bg.png"
                    projectTitle="Medchain"
                    description="Le but de Medchain est d’offrir un écosystème aux médecins, pharmaciens et patients permettant de dématérialiser les ordonnances tout en assurant la sécurité et la confidentialité des données et en éliminant tout abus d’ordonnance possible."
                    date="2021"
                    i18n-projectTitle i18n-description
  ></app-project-card>

  <app-project-card iconLink="assets/images/projects/icons/Virtue.png"
                    projectTitle="Virtue"
                    description="Virtue est un réseau social visant à encourager les comportements positifs, bénéfiques et civils. L’idée est de permettre aux utilisateurs de commenter sur le profil des autres les bonnes actions qu’ils les ont vu réaliser."
                    date="2020"
                    galleryLink="/galerie/virtue"
                    i18n-projectTitle i18n-description
  ></app-project-card>
</div>
