<!-- Not quite full width container -->
<div class="md:w-4/5 w-full mx-auto md:px-0 px-5 pb-10">
  <!-- Page header -->
  <!-- Change the top margin at the same breakpoint that we put the image on top -->
  <div class="flex flex-row flex-wrap justify-around xl:mt-10 mt-5">
    <!-- Image on the left if screen > xl ; on top otherwise -->
    <div class="relative min-w-[200px] w-3/12 h-fit mb-10">
      <img src="assets/images/Enzo.jpg" alt="Enzo Filangi" class="w-full border-4 border-[#E4A781] z-10 relative">
      <div class="absolute w-full h-full bg-[#EDC4AB] top-5 -left-5"></div>
    </div>
    <!-- Take full with on xl breakpoint to put the image above the text since at that point the text is significantly taller than the image -->
    <div class="xl:w-8/12 w-full flex flex-col">
      <!-- Title with bar on its right -->
      <div class="flex flex-row justify-between items-center w-full">
        <h1 class="section-title mr-5" i18n>À propos de moi</h1>
        <!-- horizontal line -->
        <div class="h-1.5 grow rounded-full bg-gradient-to-r from-orange to-red sm:block hidden"></div>
      </div>
      <!-- Subtitle -->
      <h2 class="text-xl mt-5" i18n>Je suis Enzo Filangi, (futur) ingénieur en développement logiciel.</h2>
      <!-- Content -->
      <p class="sm:text-base text-sm mt-5 sm:text-justify" i18n>
        Comme je suis sur le point de finir mes études, je cherche une porte d’entrée dans le monde professionnel. Une équipe où je pourrai atteindre mon plein potentiel, un mentor pour me guider durant ma carrière.<br>
        <br>
        Nous savons tous qu’une liste de compétences techniques n’est pas suffisante pour juger un candidat. S’il y a bien une leçon que mes amis devenus professionnels m’ont rapportée, c’est qu’une équipe préfère travailler avec quelqu’un de moins bon, mais plus sympa.<br>
        <br>
        Du coup, j’ai de la chance ! Je pense (totalement humblement) avoir des bases techniques solides, et en même temps être quelqu’un avec qui on a envie de discuter même en dehors des réunions strictement nécessaires.<br>
        <br>
        Alors j’ai fait cette page pour vous parler de ce que j’aime. En effet, c’est plus simple de s’intégrer à une équipe lorsque l’on partage des intérêts communs. J’espère donc qu’après avoir lu cette page, vous n’aurez plus besoin de choisir entre une personne compétente et une personne agréable.
      </p>
    </div>
  </div>

  <!-- Hobbies -->
  <h1 class="section-title mt-5" i18n>Côté loisirs</h1>
  <div>
    <!-- Video games -->
    <div class="grid lg:grid-cols-2 grid-cols-1 lg:gap-10 mt-3">
      <div class="mb-5">
        <h2 class="subsection-title" i18n>Jeux vidéo</h2>
        <p class="sm:text-base text-sm mt-5 sm:text-justify" i18n>
          Je suis un grand fan de jeux vidéo, depuis tout petit. Je suis né trop tard pour connaître le matériel rétro ; ma première console était une Nintendo DS. J’ai ensuite eu la DSi, la 3DS, une xbox 360, et finalement une Switch quelques années plus tard. Mais je suis très rapidement passé au gaming sur PC - dès 2012 avec Minecraft 1.2.5 - et ma librairie Steam comporte aujourd’hui environ 150 jeux.<br>
          <br>
          Cependant, ce n’est pas ma seule expérience vidéo-ludique. En effet, je consomme beaucoup de contenu vidéo autour du jeux vidéo, du simple gameplay à l’analyse de jeux, genres ou mécaniques presque sous forme de documentaire.
        </p>
      </div>
      <div class="w-fit ml-auto">
        <img src="assets/images/about-me-pictures/steam-library.jpeg" alt="Bibliothèque steam" class="object-contain mx-auto max-h-[350px] thick-shadow rounded" i18n-alt>
        <p class="text-center text-gray-600 mt-2" i18n>Une capture d’écran de mes jeux steam les plus joués</p>
      </div>
    </div>

    <!-- TTRPG -->
    <div class="grid lg:grid-cols-2 grid-cols-1 lg:gap-10 mt-5">
      <div class="mb-5 lg:order-2">
        <h2 class="subsection-title" i18n>Jeux de rôle</h2>
        <p class="sm:text-base text-sm mt-5 sm:text-justify" i18n>
          J’ai découvert l’univers des jeux de rôle papier au lycée, et j’y joue par intervalle depuis. Malheureusement, c’est un passe-temps qui s’effectue en sessions assez longues, et qui nécessite la présence de plusieurs personnes, il est donc plutôt compliqué de trouver un groupe régulier.<br>
          <br>
          J’ai pu occuper à la fois les rôles de joueur et de maître du jeu. Être libre de - et encouragé à - improviser et laisser libre court à sa créativité est pour moi l’un des attraits majeurs. Je trouve que cela permet de s’entraîner à parler en public sans préparation, ce qui est très utile dans la vie en général.
        </p>
      </div>
      <div class="w-fit mr-auto">
        <img src="assets/images/about-me-pictures/dice.jpg" alt="Lancé de dés" class="object-contain mx-auto max-h-[350px] thick-shadow rounded" i18n-alt>
      </div>
    </div>

    <!-- Tabletop games -->
    <div class="grid lg:grid-cols-2 grid-cols-1 lg:gap-10 mt-5">
      <div class="mb-5">
        <h2 class="subsection-title" i18n>Jeux de société</h2>
        <p class="sm:text-base text-sm mt-5 sm:text-justify" i18n>
          Je me suis vraiment mis aux jeux de société en école, grâce à la Taverne du Troll. Auparavant, à part les jeux de cartes ou les échecs, ils me paraissaient réservés aux enfants.<br>
          <br>
          En réalité, j’ai pu découvrir un monde complexe avec des jeux couvrant tout le spectre de la difficulté et de la complexité. Désormais, j’apprécie vraiment les moments où nous pouvons nous retrouver avec des amis. Que ce soit pour un jeu d’ambiance autour d’un verre, ou pour un jeu compétitif de plusieurs heures d’où nos cerveaux ressortent complètement vidés.        </p>
      </div>
      <div class="w-fit ml-auto">
        <img src="assets/images/about-me-pictures/terraformingMars.jpeg" alt="Une image du plateau du jeu 'terraforming Mars'" class="object-contain mx-auto max-h-[350px] thick-shadow rounded" i18n-alt>
        <p class="text-center text-gray-600 mt-2" i18n>Terraforming Mars, un jeu sci-fi compétitif</p>
      </div>
    </div>
  </div>


  <!-- Art -->
  <h1 class="section-title mt-5" i18n>Art et culture</h1>
  <div>
    <!-- Classic forms of art -->
    <div class="mb-5 mt-3">
      <h2 class="subsection-title" i18n>Art numérique, peinture, arts plastiques</h2>
      <p class="sm:text-base text-sm mt-5 sm:text-justify" i18n>
        Je ne suis pas un très bon artiste, en revanche certains de mes amis ont un talent indéniable. Je me suis donc peu à peu ouvert à ces disciplines. Tout d’abord par le fan-art lié à la pop culture car cela me parlait le plus, puis petit à petit à des œuvres plus “traditionnelles” : dessin, peinture, sculpture. Mais aussi cinéma ou même architecture. Je suis loin d’être un amateur aguerri, cependant j’aime toujours découvrir de nouvelles œuvres et en apprendre un peu plus.
      </p>
    </div>

    <!-- Reading -->
    <div class="grid lg:grid-cols-2 grid-cols-1 mt-5">
      <div class="mb-5 lg:order-2">
        <h2 class="subsection-title" i18n>Lecture</h2>
        <p class="sm:text-base text-sm mt-5 sm:text-justify" i18n>
          Enfant, je lisais beaucoup. J’ai eu la chance que mes parents aient veillé à ce que j’ai toujours des œuvres de fiction à disposition, et que ma tante - professeure - m’ait emmené chaque semaine à la bibliothèque.<br>
          <br>
          De fait, je suis un avide lecteur de fiction, même s’il m’est aujourd’hui difficile de trouver le temps de lire autant que je le souhaiterais. En revanche, les œuvres ancrées dans le réel (reportages, business, développement personnel, etc) m’attirent moins.
        </p>
      </div>
      <div class="w-full">
        <div class="flex flex-row flex-wrap justify-around">
          <img src="assets/images/about-me-pictures/la-horde-du-contrevent.jpg" alt="La horde du contrevent" class="object-contain mx-auto h-[200px] thick-shadow mx-1 my-1" i18n-alt>
          <img src="assets/images/about-me-pictures/la-chute-des-geants.jpg" alt="La chute des géants" class="object-contain mx-auto h-[200px] thick-shadow mx-1 my-1" i18n-alt>
          <img src="assets/images/about-me-pictures/la-disparition-de-stephanie-mailer.jpg" alt="La disparition de Stéphanie Mailer" class="object-contain mx-auto h-[200px] thick-shadow mx-1 my-1" i18n-alt>
          <img src="assets/images/about-me-pictures/le-dernier-voeu.jpg" alt="The Witcher T1 : le dernier voeu" class="object-contain mx-auto h-[200px] thick-shadow mx-1 my-1" i18n-alt>
        </div>
        <p class="text-center text-gray-600 mt-2" i18n>Certaines des oeuvres que j’ai le plus appréciées </p>
      </div>
    </div>

    <!-- Science and technology -->
    <div class="mb-5 mt-3">
      <h2 class="subsection-title" i18n>Science et technologie</h2>
      <p class="sm:text-base text-sm mt-5 sm:text-justify" i18n>
        C’est d’abord un goût pour la technologie qui m’a poussé à exercer ce métier. J’aime savoir comment fonctionnent les choses, et comment m’en servir pour construire d’autres choses. À vrai dire, je dois ce goût en partie aux jeux vidéo qui m’ont très tôt initié à l’univers de l’informatique.<br>
        <br>
        Aujourd’hui, je suis beaucoup de sources différentes dans ma veille. Certaines spécialisées, regroupées en flux RSS sur Reeder, afin de rester au courant des développements importants en ingénierie logicielle, mais aussi en sécurité informatique ou pour internet au sens large. Mais également des sources plus grand public sur les réseaux sociaux, YouTube, etc concernant les sujets que j’apprécie comme le hardware mobile ou PC, les nouveaux gadgets innovants, ou encore des logiciels pratiques pour faciliter certaines tâches.<br>
        <br>
        Je consomme également une quantité assez importante de contenu de vulgarisation scientifique. Qu’il s’agisse de sciences dures, de sciences sociales (sociologie, économie, philosophie, etc), ou simplement de reportages indépendants ; j’aime découvrir tout un tas d’informations - de culture générale - à première vue sans réel lien les unes avec les autres, mais que je me retrouve à utiliser surprenamment souvent.
      </p>
    </div>

    <!-- Culture -->
    <div class="mb-5 mt-3">
      <h2 class="subsection-title" i18n>Culture et visites</h2>
      <div class="lg:h-[400px] h-[200px] my-5">
        <app-carousel [carouselData]="carouselData" [activateFullSizeImages]="true" class="h-full"></app-carousel>
      </div>
      <p class="sm:text-base text-sm sm:text-justify" i18n>
        Enfin, j’aime visiter toutes sortes d’institutions culturelles. Musées, parcs zoologiques, jardins... Ce sont des lieux à la fois divertissants, et au sein desquels il est toujours possible d’apprendre de nouvelles choses, ou d’être impressionné par la beauté, l’étrangeté, ou la nouveauté de ce que l’on peut y voir.
      </p>
    </div>
  </div>

  <!-- Outside -->
  <h1 class="section-title mt-5" i18n>En extérieur</h1>
  <div>
    <!-- Sport -->
    <div class="flex flex-row lg:flex-nowrap flex-wrap mt-3">
      <div class="mb-5">
        <h2 class="subsection-title" i18n>Sport</h2>
        <p class="sm:text-base text-sm mt-5 sm:text-justify" i18n>
          Je ne suis pas naturellement très sportif. Je trouve qu’il est difficile de se motiver régulièrement quand il est tellement plus simple de rester vissé dans sa chaise chez soi. Pourtant, je reconnais qu’une activité physique est nécessaire pour rester en bonne santé.<br>
          <br>
          Alors, je m’étais inscrit au club de Rugby de l’Efrei avant la pandémie. J’allais aussi régulièrement à la salle de sport. La routine me permettait de m’y mettre plus facilement en remplaçant la motivation par de la discipline.<br>
          <br>
          Pendant le confinement, on m’a recommandé une application de training - Fitbod - qui m’a permis de rester actif chez moi avec le matériel que j’avais. J’ai conservé cette habitude aujourd’hui, et cela fait {{getWorkoutWeeks()}} semaines d’affilé que j’effectue au moins cinq séances de sport par semaine. L’avantage, c’est qu’elles n’ont pas besoin d’être toutes très longues car elles sont régulières et en quantité.
        </p>
      </div>
      <div class="w-full mx-5 grow">
        <img src="assets/images/about-me-pictures/fitbod-workout.png" alt="Capture d'écran Fitbod" class="object-contain mx-auto max-h-[350px]" i18n-alt>
        <div class="flex flex-row justify-center items-center mt-2">
          <img src="assets/images/about-me-pictures/fitbod-app-logo.png" alt="Fitbod logo" class="w-[32px] h-[32px] aspect-square">
          <p class="text-center text-gray-600 ml-2">Fitbod</p>
        </div>
      </div>
    </div>

    <!-- Travels -->
    <div class="mb-5 mt-3">
      <h2 class="subsection-title" i18n>Voyages</h2>
      <p class="sm:text-base text-sm mt-5 sm:text-justify" i18n>
        Comme j’aime découvrir et visiter de nouveaux endroits, il m’arrive régulièrement de voyager. Tout d’abord en France, où la diversité de paysages et d’histoire est assez impressionnante. Cela s’inscrit dans ma volonté de connaître plus de lieux culturels. En effet, bien que mon origine francilienne facilite l’accès à la culture vu tous les musées ou monuments présents dans la capitale, il existe tout autant de choses à voir ailleurs, qu’on ne peut vraiment apprécier qu’en se rendant sur place.<br>
        <br>
        Toutefois j’ai également eu la chance de voyager à l’étranger. Ainsi j’ai pu visiter des villes anglo-saxonnes comme Londres ou New-York, mais également l’Ouest américain au courant d’un long road-trip de plusieurs semaines. J’ai aussi visité la Belgique, la Suisse et l’Espagne. Et, enfin, j’ai vécu six mois en Italie pendant mon stage. Je sais que ça sonne cliché, mais la différence de culture est vraiment palpable. Même pour deux pays si proches et dont l’histoire est si liée, la façon d’aborder les choses varie énormément.
      </p>
    </div>

  </div>
</div>
