<div class="relative w-full pt-10 lg:px-10 px-5 bg-off-black rounded-xl">
  <fa-icon [icon]="graduationIcon" class="absolute top-6 lg:right-10 right-6 text-off-white lg:text-8xl text-6xl"></fa-icon>

  <h1 class="lg:text-5xl text-3xl font-extrabold text-gradient gradient-blue mb-3" i18n>Formation</h1>

  <!-- Vertical timeline from : https://www.youtube.com/watch?v=AIDiMA_C3sg -->
  <div class="timeline-grid">
    <!-- Leave a bit of space at the beginning. Use empty divs to avoid messing with the position:absolute of the dot -->
    <div class="relative bg-off-white rounded-t-full h-5"></div>
    <div></div> <!-- Skip this cell -->

    <div class="relative bg-off-white">
      <div class="absolute top-1.5 left-1/2 -translate-x-1/2 bg-off-white rounded-full w-6 h-6"></div>
    </div>
    <div class="px-8 text-off-white font-mono mb-10">
      <p class="text-blue text-3xl">2018-2023</p>
      <h1 class="font-semibold text-3xl">Efrei Paris - Software Engineer</h1>
      <p class="text-lg" i18n>
        École d'ingénieur généraliste en informatique et technologies du numérique<br>
        Major de promotion 1<sup>ère</sup>, 2<sup>ème</sup> et 3<sup>ème</sup> années
      </p>
    </div>

    <div class="relative bg-off-white">
      <div class="absolute top-1.5 left-1/2 -translate-x-1/2 bg-off-white rounded-full w-6 h-6"></div>
    </div>
    <div class="px-8 text-off-white font-mono mb-10">
      <p class="text-blue text-3xl">2018</p>
      <h1 class="font-semibold text-3xl" i18n>Lycée Saint-Charles - Baccalauréat Scientifique</h1>
      <p class="text-lg" i18n>
        Spécialité ISN option SVT<br>
        Mention Très Bien (18,12/20)
      </p>
    </div>
  </div>
</div>
