:host{
  @apply xl:block hidden absolute cursor-pointer left-0 top-0 w-full h-full rounded-xl bg-off-black text-off-white font-mono p-5 shadow-sm shadow-white duration-100 ease-out
}

:host(.slide-on-hover):hover {
  left: 0.75rem;
}

:host(.translated-right) {
  transition-duration: 500ms;
  transform: translateX(105%) rotate(0deg) !important;
}
