<h1 class="w-fit mx-auto mt-5 lg:text-6xl text-3xl font-extrabold text-off-black" i18n>Mentions légales</h1>
<div class="lg:w-3/4 w-full mx-auto mt-5 px-5">
  <div class="w-full mb-10">
    <h2 class="w-fit font-bold lg:text-3xl text-xl text-gradient gradient-orange" i18n>Créateur, éditeur et propriétaire du site</h2>
    <p class="lg:text-xl" i18n>
      Directeur de la publication : Enzo Filangi<br>
      E-mail : <a href="mailto:enzo.filangi@efrei.net" class="underline">enzo.filangi@efrei.net</a>
    </p>
  </div>

  <div class="w-full mb-10">
    <h2 class="w-fit font-bold lg:text-3xl text-xl text-gradient gradient-orange" i18n>Hébergeur</h2>
    <p class="lg:text-xl" i18n>
      <b>OVH</b><br>
      RCS Lille Métropole 424 761 419 00045<br>
      Code APE 2620Z<br>
      N° TVA : FR 22 424 761 419<br>
      Siège social : 2 rue Kellermann - 59100 Roubaix - France<br>
    </p>
  </div>

  <div class="w-full mb-10">
    <h2 class="w-fit font-bold lg:text-3xl text-xl text-gradient gradient-orange" i18n>Politique de confidentialité</h2>
    <p class="lg:text-xl" i18n>
      Ce site n'utilise aucun cookie ni autre mécanisme à des fins de suivi.<br>
      Votre adresse IP et des informations techniques envoyées par votre navigateur sont susceptibles d’être enregistrées à des fins techniques uniquement lors du chargement du site. Ces données n’ont pas vocation à être utilisées à des fins commerciales ou de suivi. Elles sont nécessaires au bon fonctionnement du site.<br>
      Pour toute question relative à l’utilisation de vos données, veuillez me contacter à l’adresse suivante : enzo.filangi@efrei.net<br>
    </p>
  </div>

  <div class="w-full mb-10">
    <h2 class="w-fit font-bold lg:text-3xl text-xl text-gradient gradient-orange" i18n>Crédit photo et icônes</h2>
    <p class="lg:text-xl" i18n>
      Tous les logos ou images d’entreprises ou d’organisations exposés sur ce site appartiennent à leur propriétaire d'origine et ne sont utilisés qu'à des fins de citation.<br>
      <br>
      Icônes par :
    </p>
    <ul class="font-mono list-disc list-outside ml-5" i18n>
      <li>Fonticons, Inc. - site : <a href="https://fontawesome.com/" class="underline">fontawesome.com</a></li>
      <li>Freepik - site : <a href="https://www.flaticon.com" class="underline">www.flaticon.com</a></li>
      <li>Favicon par flatart_icons - site : <a href="https://www.flaticon.com/fr/icones-gratuites/portefeuille" class="underline">Flaticon</a></li>
    </ul>
    <p class="lg:text-xl mt-3" i18n>
      Crédit photos d'illustration :
    </p>
    <ul class="font-mono list-disc list-outside ml-5" i18n>
      <li>Pixabay</li>
      <li>Capgemini</li>
      <li>General Medical Merate</li>
      <li>Fap Efrei</li>
      <li>Asian'Efrei</li>
      <li>Taverne du Troll</li>
      <li>La volte</li>
      <li>Le livre de poche</li>
      <li>De Fallois</li>
      <li>Bragelonne</li>
      <li>Fitbod</li>
    </ul>
  </div>

</div>
